body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/spikes.png");
    background-attachment: fixed;
    color: #777777;
}

.header {
    position: fixed;
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    top: 0;
}

h1 {
    background-color: #4aaaa5;
    position: fixed;
    display: block;
    margin: 0 auto;
    top: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 220px;
    height: 60px;
    float: left;  
    text-align: center;
    margin-left: 20%;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-right: 20%;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    border-left: 1px solid #777777;
}

li:last-child {
    border-left: none;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #777777;
    color: #ffffff;
}

.clearfix {
    clear: both;
}

.form {
    position: relative;
    top: 90px;
    border-color: #dddddd;
    width: 960px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
    border-style: solid;
    padding: 20px;
    background-color: #ffffff;
}

textarea {
    width: 100%;
    resize: none;
    height: 200px;
}

input {
    color: #777777;
}
hr {
    width: 100%;
    height: 1px;
    background: gray;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    body, .header, .footer, .article {
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    body, .header, .footer, .article {
        width: 100%;
    }
}